<div class="container">
  <h1> News Articles  </h1>
  <ul class="list-group">
    <% @articles.each do |article| %>
      <div class="card-product mb-3">
        <%# <%= image_tag article.imageUrl.nil? ? "placeholder-image.png" : article.imageUrl %> %>
        <div class="card-product-infos">
          <h2><%= article.title %></h2>
          <h6><%= article.summary %></h6>
          <%= link_to "More info", article_path(article), class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </ul>
</div>

   <%# t.string "name"
articles.each do |article|
    Article.create(
      id: article["id"]
      title: article["title"]
      url: article["url"]
      imageUrl: article["imageUrl"]
      newsSite: article["newsSite"]
      summary: article["summary"]
      publishedAt: article["publishedAt"]
      updatedAt: article["updatedAt"]
      featured: article["featured"]
      launches: article["id"]["provider"]
    )


def fetch_api2(end_point)
  all_data = []
  base_url = "https://api.spaceflightnewsapi.net/v3/articles#{end_point}"
  # count = JSON.parse(URI.open(url).read)["count"]
  2.times do |index|
    url = "#{base_url}?offset=#{index}"
    puts "Fetching from url: #{url}"
    data = JSON.parse(URI.open(url).read)
    all_data.concat(data["results"])
  end
  return all_data
end

articles.each do |article|
    Article.create(
      id: article["id"]
      title: article["title"]
      url: article["url"]
      imageUrl: article["imageUrl"]
      newsSite: article["newsSite"]
      summary: article["summary"]
      publishedAt: article["publishedAt"]
      updatedAt: article["updatedAt"]
      featured: article["featured"]
      launches: article["id"]["provider"]
    )
