<div class="container mt-3">
  <div class="card bg-light px-2">
    <nav style="--bs-breadcrumb-divider: ' / ';" aria-label="breadcrumb">
      <ol class="breadcrumb my-2">
        <li class="breadcrumb-item"><%= render_breadcrumbs :separator => " > " %></li>
      </ol>
    </nav>
  </div>
</div>
