    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row text-center">
                    <div class="brand"><%= image_tag "logo_white" %></div>
                    <p class="mt-2">Bringing you all the latest happenings from the outer world.</p>
                    <div class="col item social"><a href="https://github.com/McDrivin/astrolog"><i class="fa-brands fa-github"></i></a><a href="https://twitter.com/NASA"><i class="fa-brands fa-twitter"></i></a><a href="https://www.instagram.com/nasahubble/"><i class="fa-brands fa-instagram"></i></a><a href="https://www.youtube.com/@NASA"><i class="fa-brands fa-youtube"></i></a></div>
                </div>
                <p class="copyright">Astrolog © 2022</p>
            </div>
        </footer>
    </div>
