<div class="container">
  <h1> Agencies and Companies in the space industry </h1>
  <div class="row gx-4 justify-content-between">
    <% @agencies.each do |agency| %>
      <div class="col-3">
        <div class="card">
          <div class="card-img-top">
            <%= image_tag agency.logo_url.nil? ? "placeholder-image.png" : agency.logo_url, class: "card-img-top" %>
          </div>
          <div class="card-body">
            <h5 class="card-title"><%= agency.name %></h5>
            <p class="card-text"><%= agency.country_code.split(',').first(3).join(" | ") %></p>
            <%= link_to "More info", agency_path(agency), class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

   <%# t.string "name"
    t.string "country_code"
    t.text "description"
    t.string "founding_year"
    t.string "spacecraft"
    t.string "image_url"
    t.string "logo_url"
    t.datetime "created_at", null: false
    t.datetime "updated_at", null: false
    t.string "agency_type" %>
