<div class="container">
  <h2>Create a post</h2>
  <%= simple_form_for @post do |f| %>
    <%= f.input :title %>
    <%= f.rich_text_area :content%>
    <%= f.button :submit, class: "btn btn-primary mt-3" %>
  <% end %>
</div>
