<div class="container">
  <h1>Replies</h1>
  <ul>
  <% @messages.each do |message| %>
    <li><%= message.content %></li>
  <% end %>
  </ul>
  <h2>Add a reply</h2>
  <%= simple_form_for [@post, @message] do |f| %>
    <%= f.input :content %>
    <%= f.submit "Send" %>
  <% end %>
</div>
