.form-login {
  background: white;
  padding: 10px 20px;
  border-radius: 5px;
  width: 30%;
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px
  }
}
