.navbar-lewagon {
  justify-content: space-between;
  background-color:#282d32;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.nav-link {
  color:#f0f9ff;
}

.brand-nav {
  width: 10%;
  img {
    width: 100%;
  }
}
