.navbar-lewagon {
  justify-content: space-between;
  background-color:#282d32;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  border-radius: 50%;
}

.nav-link {
  color:#f0f9ff;

}
