.post, .add-reply {
  background-color: white;
  border-radius: 5px;
  border: 1px solid #d6d6d6;
  padding: 25px;
}

.post-title {
  font-weight: 600;
  margin-top: 20px;
}

.btn-edit:hover {
  color: $info;
}

.btn-delete:hover {
  color: $danger;
}

.post-user {
  display: flex;
  align-items: center;
}

.post-user img {
  width: 30px;
  margin-right: 10px;
  object-fit: cover;
  border-radius: 50%;
}

.post-user p {
  margin: 0px;
  opacity: 0.6;
}

.post-date p {
  font-size: 12px;
  opacity: 0.4;
}

.post-stats p {
  font-size: 12px;
  opacity: 0.4;
}

.post-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
