.wide-card {
  overflow: hidden;
  height: 300px;
  background: white;
  // box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #d6d6d6;
}

.wide-card img {
  height: 100%;
  width: 300px;
  object-fit: cover;
}

.wide-card h2 {
  font-weight:500;
  margin: 0;
}

.wide-card p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.wide-card .wide-card-infos {
  padding: 16px;
  flex-grow: 1;
}
